html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.ant-layout {
  background: #f0f2f5 !important;
}

.ant-layout-content {
  background: #f0f2f5 !important;
  min-height: calc(100vh - 134px);
}
